<style type="text/css">
	.AddInventoryScreen
    {
		margin: auto;
		text-align: center;
		display: AddInventoryScreen;
    }
	.MainScreenCell
	{
		margin: auto;
		display: ScreenCell;
		text-align: center;
        border: solid;
        width: 590px;
		height: 500px;
        padding-left: 1px;
        padding-right: 1px;
		font-weight: bold;
        font-size: larger;
	}
	table, th, td {
		margin: auto;
		border: 5px solid black;
		text-align: center;
		padding-left: 1px;
		padding-right: 1px;
	}
	.SaveChangesButton
	{
		position:absolute;
		left:500px;
		top:530px;
		width:400px;
		height:50px;
		color:Black;
		margin:auto;
	}
	.ReturnToMainMenuButton
	{
		position:absolute;
		left:800px;
		top:530px;
		width:400px;
		height:50px;
		color:Black;
		margin:auto;
	}