<style type="text/css">
	.RetreivePasswordScreen
	{
		margin: auto;
		text-align: center;
		display: RetreivePasswordScreen;
	}
	.MainScreenCell
	{
		margin: auto;
		display: ScreenCell;
		text-align: center;
        border: solid;
        width: 590px;
		height: 400px;
        padding-left: 1px;
        padding-right: 1px;
		font-weight: bold;
        font-size: larger;
	}
	.YourEmailField
	{
		width:400px;
		height:50px;
		color:Black;
		margin:auto;
	}
	.PasswordHintField
	{
		width:400px;
		height:50px;
		color:Black;
		margin:auto;
	}
	.RetreivePasswordButton
	{
		position:absolute;
		left:500px;
		top:400px;
		width:400px;
		height:50px;
		color:Black;
		margin:auto;
	}
	.ReturnToLoginButton
	{
		position:absolute;
		left:770px;
		top:400px;
		width:400px;
		height:50px;
		color:Black;
		margin:auto;
	}